* {
  font-family: "Poppins", sans-seri;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(150deg, #8ae73e, #45bddb);
  color: #ffffff;
  font-family: "Poppins", sans-seri;
  min-height: 100vh;
}
header {
  font-size: 1.5rem;
}
header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
}
form button {
  color: #fda080;
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;
}
form button:hover {
  background: #fda080;
  color: white;
}
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-list {
  min-width: 30%;
  list-style: none;
}
.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem;
  background: white;
  color: black;
  font-size: 1.5rem;
  transition: all 0.5s ease;
}
.todo li {
  flex: 1;
}
.trash-button {
  background: #ff6f47;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}
.complete-button {
  background: #ff6f47;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}
.complete-button {
  background: dodgerblue;
}
.todo-item {
  padding: 0rem 0.5rem;
}
.fa-trash,
.fa-check {
  pointer-events: none;
}
.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
.fall {
  transform: translateY(30px) rotateZ(20deg);
  transition: 1.5s;
  opacity: 0;
}

select {
  --webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  box-shadow: none;
  border: none;
  padding: 1rem;
}
.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
select {
  color: #ff6f47;
  width: 11rem;
  cursor: pointer;
}
.select::after {
  content: "\25BC";
  position: absolute;
  background: #ff6f47;
  top: 0;
  right: 0;
  padding: 1rem;
  transition: all 0.3s ease;
  pointer-events: none;
}
.select:hover::after {
  background: white;
  color: #ff6f47;
}
